<div class="tile is-ancestor">
  <div class="tile is-parent is-2"><guides-nav></guides-nav></div>
  <div class="tile is-parent is-8">
    <div class="section">
      <div class="container">
        <div class="content">
          
            <a class="navbar-item" ui-sref="depositor-agreement" title="Depositor Agreement">
                <span class="icon is-small">
                    <i class="fas fa-language"></i>
                </span>
                &nbsp; CLARIN Deposition & License Agreement - English
              </a>

          <h1 class="title">
            CLARIN Deposition & License Agreement - German Translation
          </h1>
          <h2 class="subtitle">Parteien</h2>
          <p>
            Die Organisation oder zur Abtretung und Hinterlegung digitaler
            Dateien autorisierte Person, nachstehend Depositor genannt:
          </p>
          <p>die CLARIN-Infrastruktur (Repository)</p>

          <h2>1. Lizenz</h2>
          <p>
            Der Depositor gewährt dem Repository eine nicht-exklusive Lizenz für
            die digitalen Dateien, nachfolgend als Inhalt bezeichnet. Das
            Repository ist autorisiert, den Inhalt in sein Datenarchiv
            aufzunehmen. Das Repository überführt den Inhalt auf einen
            zugänglichen/verfügbaren Träger, durch jede beliebige Methode und in
            jeder Form. as Repository ist autorisiert, den Inhalt (oder
            wesentliche Teile davon) Dritten mittels Online-Übertragung
            zugänglich zu machen. Außerdem hat das Repository das Recht, im
            Auftrag von Dritten oder sonst, Kopien der Dateien zu machen oder
            Dritten zu erlauben, die Kopien zu downloaden.
          </p>

          <h2>2. Der Depositor</h2>
          <p>
            Der Depositor erklärt, dass er ein Rechtsinhaber oder der einzige
            Rechtsinhaber des Inhalts ist, unter der einschlägigen Gesetzgebung
            oder anders, und/oder berechtigt ist, in fraglichen Angelegenheiten
            mit der Erlaubnis anderer Parteien, die Rechtsinhaber sind, zu
            handeln.
          </p>
          <p>
            Der Depositor stellt das Repository im Hinblick auf den Inhalt frei
            von allen Ansprüchen anderer Parteien gegen das Repository.
          </p>

          <h2>3. Das Repository</h2>
          <p>
            Das Repository stellt nach bestem Können und je nach seinen
            Ressourcen sicher, dass der hinterlegte Inhalt nachhaltig archiviert
            wird, lesbar und zugänglich bleibt. <br />
            Das Repository bewahrt, soweit möglich, den Inhalt unverändert in
            seinem originalen Datenformat unter Berücksichtigung des aktuellen
            Stands der Technik undTod des Depositorsder Kosten für die Implementierung. Das
            Repository hat das RecTod des Depositorst, das Format und/oder die Funktionalität des
            Inhalts, wenn dies nötTod des Depositorsg ist, um die digitale Nachhaltigkeit,
            Verbreitung oder NachnTod des Depositorstzung des Inhalts zu erleichtern, zu
            modifizieren.
          </p>
          <h2>4. Der Inhalt</h2>
          <p>
            <ol type="I">
              <li>Der Inhalt, auf den sich die Lizenz bezieht, ist im Anhang zu diesem
                  Vertrag spezifiziert. Der Anhang bildet einen integralen Bestandteil
                  dieses Vertrags.</li>
                  <li>
                      Der Depositor erklärt, dass der Inhalt den mitgelieferten
                      Spezifikationen entspricht.
                  </li>
                  <li>
                      Der Depositor erklärt, dass der Inhalt keine Daten oder andere
                      Elemente enthält, die rechtswidrig sind oder gegen öffentliche
                      Regelungen verstoßen.
                  </li>
                  <li>
                      Der Depositor stellt das Repository von allen Ansprüchen Dritter in
                      Bezug auf den Inhalt frei.
                  </li>
                  <li>
                      Der Depositor wird den Inhalt zur Verfügung stellen mittels einer
                      Methode und eines Mediums, die das Repository als annehmbar
                      erachtet.
                  </li>
            </ol>
          </p>
          <h2>5. Entfernung des Inhalts/Änderung der Zugangsbedingungen</h2>
          <p>
            Wenn ausreichend unabdingbare Gründe bestehen, hat der Depositor das
            Recht, das Repository zu bitten/aufzufordern, den Inhalt
            vorübergehend oder dauerhaft nicht zugänglich zu machen. In diesen
            Fällen behält das Repository den Inhalt im Datenarchiv, gewährt aber
            Dritten nicht länger Zugriff auf den Inhalt oder wesentliche Teile
            davon. <br />
            Wenn ausreichend unabdingbare Gründe bestehen, hat das Repository
            das Recht, den Inhalt vollständig oder teilweise aus dem Archiv zu
            entfernen oder den Zugriff auf den Inhalt vorübergehend oder
            dauerhaft zu beschränken oder zu verhindern. Das Repository hat den
            Depositor in solchen Fällen zu informieren.
          </p>
          <h2>6. Verfügbarkeit für Dritte:</h2>
          <p>
            Das Repository macht den Inhalt nur Dritten zugänglich, die in die
            Nutzungsbedingungen eingewilligt haben. Sofern nicht anders mit dem
            Depositor vereinbart, unterliegt die Nutzung des Inhalts den vom
            Repository festgelegten allgemeinen Nutzungsbedingungen. <br />
            Das Repository kann den Inhalt (oder wesentliche Teile davon)
            Dritten zugänglich machen, wenn: 
            <ol type="I">
              <li>Das Repository aufgrund rechtlicher Bestimmungen oder Regelungen,
                  einer Gerichtsentscheidung oder durch eine Behörde oder eine andere
                  Institution angehalten ist, dies zu tun.
              </li>
              <li> Es nötig ist für den Erhalt/Schutz des Inhalts und/oder des
                  Datenarchivs (an eine vergleichbare Einrichtung, wenn) das
                  Repository nicht mehr existiert und/oder seine Aktivitäten im Feld
                  der Datenarchivierung beendet ist. </li>
              <li>Das Repository publiziert die Metadaten und macht diese auf
                  Grundlage der Dokumentation, die der Depositor mit dem Inhalt
                  bereitstellt, frei zugänglich. Der Begriff Metadaten bezieht sich
                  auf die Informationen, die die digitalen Dateien beschreiben. Andere
                  Dokumentationen im Zusammenhang mit den Dateien, die vom Depositor
                  bereitgestellt werden, werden publiziert und frei zugänglich
                  gemacht, es sein denn der Depositor hat angegeben, dass bestimmte
                  Dokumente nicht frei zugänglich gemacht werden dürfen. </li>
              <li>Die allgemeinen Informationen zum Forschungsprojekt und die
                  Metadaten bezüglich des Inhalts werden in die Datenbank des
                  Repositories und die Publikationen, die allen frei zugänglich sind,
                  aufgenommen.</li>
            </ol>
          </p>
          <h2>7. Bestimmungen zur Nutzung durch Dritte</h2>
          <p>
              Das Repository fordert Dritte, denen der Inhalt (oder wesentliche Teile davon) zugänglich gemacht wurde, auf, in die Forschungsergebnisse einen deutlichen Hinweis auf den Inhalt, von dem Daten benutzt wurden, aufzunehmen. Die Quellenangabe muss den CLARIN-Infrastruktur-Nutzungsbedingungen entsprechen.
          </p>
          <h2>
              8. Tod des Depositors
          </h2>
          <p>
              Nach dem Tod des Depositors oder für den Fall, dass die Organisation des Depositors aufhört zu existieren, werden die Daten entsprechend des Urheberrechts beziehungsweise der Datenschutzbestimmungen behandelt.
          </p>
          <h2>9. Haftung</h2>
          <p>
              Das Repository übernimmt keine Haftung für den Fall, dass der gesamte Inhalt oder Teile davon verloren gehen. <br>
              Das Repository übernimmt keine Haftung für Schäden oder Vermögensschäden/Verluste, die sich aus der Nutzung oder Nicht-Nutzung durch Dritte ergibt, denen das Repository den Inhalt zugänglich gemacht hat.              
          </p>
          <h2>10. Laufzeit und Beendigung des Vertrags</h2>
          <p>
              Dieser Vertrag wird an dem Tag wirksam, an dem das Repository den Inhalt erhält (im Folgenden Hinterlegungsdatum genannt) und bleibt auf unbestimmte Zeit gültig. Eine Auflösung des Vertrags unterliegt einer Kündigungsfrist von sechs Monaten und die Kündigung muss schriftlich erfolgen. Es ist möglich, die vereinbarte Zugangskategorie jederzeit während der Vertragslaufzeit zu ändern
              <br /> Ungeachtet Punkt a. endet dieser Vertrag, wenn der Inhalt aus dem Datenarchiv gemäß Abschnitt 5. dieses Vertrags gelöscht wird. <br>
              Wenn das Repository aufhört zu existieren oder seine Datenarchivierungs-Aktivitäten beendet, versucht das Repository, die Dateien an eine ähnliche Organisation zu übergeben, die den Vertrag mit dem Depositor soweit möglich unter denselben Bedingungen fortsetzt.
          </p>
          <h2>
              11. Anwendbares Recht
          </h2>
          <p>
              Deutsches Recht ist auf diesen Vertrag anwendbar. Es ist dem Repository gestattet, den Inhalt zu verbreiten und zugänglich zu machen mittels der unten erwähnten Methode und, wenn dies unten gekennzeichnet wurde, unter der zusätzlichen Option nicht-kommerziell.
          </p>
          <h6>
              Sie haben gewählt:
          </h6>
          <ol type="I">
            <li>
                <strong>Einschränkung: Nicht-kommerziell</strong> <br />
                Der Inhalt darf nicht auf eine Weise genutzt werden, die vorrangig auf einen geschäftlichen Vorteil oder eine geldwerte Vergütung gerichtet ist (nicht-kommerzielle Nutzung).
                </li>
                <li>
                    <strong>Einschränkung: Grant back</strong> <br />
                    Wenn eine bearbeitete Version des Inhalts erstellt wurde, muss diese unter denselben Lizenzbedingungen wie der Originalinhalt bereitgestellt werden.
                </li>
                <li>
                    <strong>Einschränkung: Mitteilung/Benachrichtigung</strong> <br />
                    Wenn der Inhalt genutzt wurde, um in einem Artikel oder anderen Werk veröffentlicht zu werden, ist eine Mitteilung an den Depositor über die Veröffentlichung erforderlich. Der Depositor stimmt hiermit den obigen Bestimmungen und den allgemeinen, in diesem Dokument genannten Verhaltensbedingungen zu.
                
                </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
