<div class="tile is-ancestor">
  <div class="tile is-parent is-2"><guides-nav></guides-nav></div>
  <div class="tile is-parent is-8">
    <div class="section">
      <div class="container">
        <div class="content">
          <article>
            <h1 class="title">Archiving and Depositing Policy</h1>
            <p>
              The Languge Archive Cologne has the explicit mission to preserve
              digital audio and video data, annotations, and other digital
              language data in the long term, and by promote and disseminate
              these resources. As part of this mission we offer archiving
              services to researchers, institutions and individuals that are in
              the possession of data related to our mission.
            </p>
            <p>
              We offer our services to any researchers, institutions and
              individuals – explicitely including students and native speakers –
              worldwide and in particular in regions where there are no local
              institutions offering such support. We provide support from the
              early planning phase to the realization of language documentation
              and other fieldwork based language research projects. We provide
              information and assistance regarding methodological and technical
              aspects and in particular relating to equipment, digital tools and
              formats and in particular metadata creation.
            </p>
            <p>
              In case of planned and current research projects, interested
              parties are expected to contact the
              <a href="mailto:lac-helpdesk@uni-koeln.de">LAC helpdesk</a> early
              on in the project, preferably in the planning phase. If you are in
              possession of (legacy) language data or know of eligible resources
              – in particular from endangered languages – in need of archiving,
              we highly encourage you to get in contact with the
              <a href="mailto:lac-helpdesk@uni-koeln.de">us</a>.
            </p>
            <p>
              Even if we might not be the appropriate institution to archive
              your data, we are always willing to help you find an appropriate
              institution to deposit your data. If you have any question
              relating archiving or our services please don’t hesitate to
              contact us via the
              <a href="mailto:lac-helpdesk@uni-koeln.de">LAC helpdesk</a>.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
