<div class="tile is-ancestor">
    <div class="tile is-parent is-2"><guides-nav></guides-nav></div>
    <div class="tile is-parent is-8">
      <div class="section">
        <div class="container">
          <div class="content">
            <a class="navbar-item" ui-sref="depositor-agreement-german" title="Depositor Agreement">
                <span class="icon is-small">
                    <i class="fas fa-language"></i>
                </span>
                &nbsp; CLARIN Deposition & License Agreement - German
            </a>
  
            <h1 class="title">
              CLARIN Deposition & License Agreement
            </h1>
            <h6 class="subtitle">
                With the Deposition Agreement the depositor agrees to make new CLARIN Material available through the CLARIN Infrastructure. For this purpose the depositor provides the Service Provider a metadata file including the general information on the material in question but also the distribution categories applicable, i.e. the laundry symbols and the eventual other restrictions that the depositor sees fit to require.
            </h6>
            <h2 class="subtitle"> Parties</h2>
            <p>
                he organisation or person authorised to transfer and deposit the digital dataset(s), hereafter referred to as the Depositor. <br />
                CLARIN infrastructure (the Repository)
            </p>
            <p></p>
  
            <h2>1. Licence</h2>
            <p>
                The Depositor grants the Repository a non-exclusive licence for digital data files, hereafter referred to as Content. <br />
                The Repository is authorized to include the Content in its data archive. The Repository shall transfer Content to an available carrier, through any method and in any form. <br />
                The Repository is authorized to make Content (or substantial parts thereof) available to third parties by means of on-line transmission. In addition, the Repository has the right, on the instruction of third parties or otherwise, to make a copy of the dataset or to grant third parties permission to download a copy.
            </p>
  
            <h2>2. The Depositor</h2>
            <p>
                The Depositor declares that he is a holder of rights to Content, or the only holder of rights to the Content, under the relevant legislation or otherwise, and/or is entitled to act in the present matter with the permission of other parties that hold rights. <br />
                The Depositor indemnifies the Repository against all claims made by other parties against the Repository with regard to Content.
            </p>
            <p>
              Der Depositor stellt das Repository im Hinblick auf den Inhalt frei
              von allen Ansprüchen anderer Parteien gegen das Repository.
            </p>
  
            <h2>3. The Repository</h2>
            <p>
                The Repository shall ensure, to the best of its ability and resources, that the deposited Content is archived in a sustainable manner and remains legible and accessible.
                <br />
                The Repository shall, as far as possible, preserve Content unchanged in its original digital format, taking account of current technology and the costs of implementation. The Repository has the right to modify the format and/or functionality of Content if this is necessary in order to facilitate the digital sustainability, distribution or re-use of Content.
            </p>
            <h2>4. The Content</h2>
            <p>
              <ol type="I">
                <li>Content to which the licence relates is specified in the appendix to this Agreement. The appendix forms an integral part of this Agreement.</li>
                    <li>
                        The Depositor declares that the Content corresponds to the specification provided.
                    </li>
                    <li>
                        The Depositor declares that Content contains no data or other elements that are contrary to the law or public regdlations.
                    </li>
                    <li>
                        The Depositor indemnifies the Repository against all claims by third parties relating to Content.
                    </li>
                    <li>
                        The Depositor will supply Content by means of a method and medium deemed acceptable by the Repository.
                    </li>
              </ol>
            </p>
            <h2>5. Removal of Content / changes to access conditions</h2>
            <p>
                If sufficient indispensable grounds exist, the Depositor has the right to request the Repository not to make Content available for a temporary period or permanently. In such cases, the Repository shall retain Content in the data archive, but shall no longer allow third parties to access the Content or substantial parts thereof. <br />
                If sufficient indispensable grounds exist, the Repository has the right to remove Content from the archive wholly or in part, or to restrict or prevent access to Content on a temporary or permanent basis. The Repository shall inform the Depositor in such cases.
            </p>
            <h2>6. Availability to third parties:</h2>
            <p>
              <ol type="I">
                <li>The Repository shall make Content available only to third parties who have agreed to comply with the conditions of use. Unless agreed otherwise with the Depositor, the use of Content is subject to the General Terms of Use laid down by the Repository.
                </li>
                <li> The Repository can make Content (or substantial parts thereof) available to third parties: </li>
                <ul>
                    <li>if the Repository is required to do so by legislation or regdlations, a court decision, or by a regdlatory or other institution </li>
                    <li>if this is necessary for the preservation of Content and/or the data archive (to a similar institution) if the Repository ceases to exist and/or its activities in the field of data-archiving are terminated</li>
                    <li>The Repository shall publish the metadata and make them freely available, on the basis of the documentation that the Depositor provides with Content. The term metadata refers to the information that describes the digital files. Other documentation that relates to the dataset and is provided by the Depositor shall be published and made freely available, unless the Depositor has specified that certain documents must not be made freely available.</li>
                    <li>The general information about the research and the metadata relating to Content shall be included in the Repository’s databases and publications that are freely accessible to all persons.</li>
                </ul>
              </ol>
            </p>
            <h2>7. Provisions relating to use by third parties</h2>
            <p>
                The Repository shall require third parties to whom the Content (or substantial parts thereof) is made available to include in the research resdlts a clear reference to the Content from which data have been used. The reference must comply with the CLARIN Infrastructure Terms of Use.</p>
            <h2>
                8. Death of the Depositor
            </h2>
            <p>
                Following the death of the Depositor, or in the event that the Depositor's organization ceases to exist, the data will be treated according to the given copyright and privacy policy.</p>
            <h2>9. Liability</h2>
            <p>
                The Repository accepts no liability in the event that all or part of Content is lost. <br>
                The Repository accepts no liability for any damage or losses resdlting from acts or omissions by third parties to whom the Repository has made Content available.
              </p>
            <h2>10. Term and termination of the Agreement</h2>
            <p>
                his Agreement shall come into effect on the date on which the Repository receives the Content (hereafter the deposit date) and shall remain valid for an indefinite period. Cancellation of this Agreement is subject to a period of notice of six months, and notice shall be given in writing. It is possible to change the agreed access category at any time during the term of the Agreement. 
                <br /> Notwithstanding point (a), this Agreement shall end when Content is removed from the data archive in accordance with Article 5 of this Agreement.
                 <br />
                 If the Repository ceases to exist or terminates its data-archiving activities, the Repository shall attempt to transfer the data files to a similar organisation that will continue the Agreement with the Depositor under similar conditions if possible.
           </p>
            <h2>
                11. Applicable Law
            </h2>
            <p>
              German law is applicable to this agreement.</p>
            <h6>
                You have chosen:
            </h6>
            <ol type="I">
              <li>
                  <strong>Restriction: Non-Commercial</strong> <br />
                  Content is not be used in any manner that is primarily intended for or directed toward commercial advantage or private monetary compensation.
                </li>
                  <li>
                      <strong>Restriction: Grant back</strong> <br />
                      If a Derivate version of Content is created, it has to be licensed with the same license as the original Content.  
                    </li>
                  <li>
                      <strong>Restriction: Notification</strong> <br />
                      If the Content is used in a published article or other work, a notification to Depositor about the publication is required. The Depositor hereby agrees to the above provisions and the general code(s) of conduct referred to in this document.
                  </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  