<div class="section guides-nav">
  <aside class="menu">
    <p class="menu-label">User Guides</p>
    <ul class="menu-list">
      <li>
        <a class="navbar-item" ui-sref="terms-of-use" title="Terms of Use"
          >Terms of Use</a
        >
      </li>
      <li>
        <a
          class="navbar-item"
          ui-sref="mission-statement"
          title="Mission Statement"
          >Mission Statement</a
        >
      </li>
      <li>
        <span class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Depositor Agreement </a>

          <div class="navbar-dropdown">
            <a
              class="navbar-item"
              ui-sref="depositor-agreement"
              title="Depositor Agreement"
            >
              English
            </a>
            <a
              class="navbar-item"
              ui-sref="depositor-agreement-german"
              title="Depositor Agreement"
            >
              German
            </a>
          </div>
        </span>
      </li>
      <li>
        <a
          class="navbar-item"
          ui-sref="data-user-agreement"
          title="Data User Agreement"
          >Data User Agreement</a
        >
      </li>
      <li>
        <a
          class="navbar-item"
          ui-sref="depositor-guidelines"
          title="Depositor Guidelines"
          >Depositor Guidelines</a
        >
      </li>
      <li>
        <a
          class="navbar-item"
          ui-sref="submission-guidelines"
          title="Submission Guidelines"
          >Submission Guidelines</a
        >
      </li>
      <li>
        <a
          class="navbar-item"
          ui-sref="depositing-policy"
          title="Deposition Policy"
          >Deposition Policy</a
        >
      </li>
      <li>
        <a
          class="navbar-item"
          ui-sref="format-whitelist"
          title="Format Whitelist"
          >Format Whitelist</a
        >
      </li>
      <li>
        <a class="navbar-item" ui-sref="archive-setup" title="Archive Setup"
          >Archive Setup</a
        >
      </li>
      <li>
        <a class="navbar-item" ui-sref="privacy-policy" title="Privacy Policy"
          >Privacy Policy</a
        >
      </li>
    </ul>
  </aside>
</div>
