<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Welcome to the Language Archive Cologne (LAC)</h1>
      <h2 class="subtitle">Terms of Service</h2>

      <p>
        Welcome to the repository website of the
        <a
          href="http://dch.phil-fak.uni-koeln.de/"
          title="Data Center for the Humanities"
          target="_blank"
          >Data Center for the Humanities (DCH)</a
        >
        CLARIN Centre. The mission of CLARIN is to provide as wide access as
        possible to language research tools and materials around Europe. To
        achieve this goal, we set out some ground rules through this
        <a ui-sref="terms-of-use" title="Terms of Service">Terms of Service</a>.
        By accessing or using any kind of data or services provided by the LAC
        Repository, you agree to abide by the Terms contained in the above
        mentioned document.
      </p>

      <h3>Privacy Policy</h3>
      <p>
        Under the German legislation on Data Protection the repository of the
        LAC-CLARIN Centre has a legal duty to protect any information it
        collects from users. The LAC Repository privacy policy relates to
        personal data collected by the LAC Repository in the course of
        registration for access to services and during user consultations.
        Please read our
        <a ui-sref="privacy-policy" title="Privacy Policy">Privacy Policy</a> in
        order to learn how we manage this issue and how it affects you. For a
        detailed list of the personal data collected please consult this table.
      </p>

      <h3>Data Deposit</h3>
      <p>
        With the Depositor Agreement the depositor agrees to make new CLARIN
        Material available through the CLARIN Infrastructure, and defines access
        conditions. The
        <a ui-sref="depositing-policy" title="LAC Respository Depositing Policy"
          >LAC Respository Depositing Policy
        </a>
        details the specific policies for depositing corpora of audiovisual
        speech data.
      </p>

      <h3>Data Access</h3>
      <p>
        Data access is available for the research user under the terms of the
        <a ui-sref="data-user-agreement" title="Data User Agreement"
          >Data User Agreement</a
        >. Licensing and other terms between User and Content Provider and/or
        CLARIN will be agreed separately. If you have any questions about the
        Language Archive Cologne (LAC), feel free to contact us:
        <a href="mailto:lac-helpdesk@uni-koeln.de" title="LAC-Helpdesk"
          >LAC-Helpdesk</a
        >.
      </p>

      <aside class="menu field">
        <p class="menu-label">List of all external documents</p>
        <ol class="menu-list">
          <li>
            <a ui-sref="terms-of-use" title="Terms of Use">Terms of Use</a>
          </li>
          <li>
            <a ui-sref="mission-statement" title="Mission Statement"
              >Mission Statement</a
            >
          </li>
          <li>
            <a ui-sref="depositor-agreement" title="Depositor Agreement"
              >Depositor Agreement</a
            >
          </li>
          <li>
            <a ui-sref="data-user-agreement" title="Data User Agreement"
              >Data User Agreement</a
            >
          </li>
          <li>
            <a ui-sref="depositor-guidelines" title="Depositor Guidelines"
              >Depositor Guidelines</a
            >
          </li>
          <li>
            <a ui-sref="submission-guidelines" title="Submission Guidelines"
              >Submission Guidelines</a
            >
          </li>
          <li>
            <a ui-sref="depositing-policy" title="Deposition Policy"
              >Deposition Policy</a
            >
          </li>
          <li>
            <a ui-sref="format-whitelist" title="Format Whitelist"
              >Format Whitelist</a
            >
          </li>
          <li>
            <a ui-sref="archive-setup" title="Archive Setup">Archive Setup</a>
          </li>
          <li>
            <a ui-sref="privacy-policy" title="Privacy Policy"
              >Privacy Policy</a
            >
          </li>
        </ol>
      </aside>
    </div>
  </div>
</div>
