<div class="section">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Language Archive Cologne (LAC) - Impressum</h1>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h4 class="subtitle">Contact</h4>
          <ul>
            <li>Street address:</li>
            <li>
              Language Archive Cologne Data Center for the Humanities,
              University of Cologne
            </li>
            <li>Universitätsstraße 22</li>
            <li>50923 Köln</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h4 class="subtitle">Mailing address</h4>
          <ul>
            <li>Language Archive Cologne</li>
            <li>Data Center for the Humanities, University of Cologne</li>
            <li>Albertus-Magnus-Platz</li>
            <li>50923 Köln</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h4 class="subtitle">Archive manager</h4>
          <ul>
            <li>Felix Rau MA</li>
            <li>Contact the archive manager:</li>
            <li>lac-manager[at]uni-koeln.de</li>
            <li>Tel.: +49-221-470-7213</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h4 class="subtitle">Contact the LAC helpdesk</h4>
        <p>lac-helpdesk[at]uni-koeln.de</p>
      </div>
    </div>
  </div>
</div>
