<div class="section">
  <div class="container">
    <!-- <div ng-if="cm.isUserAuthenticated"> -->
        <div class="content">
            <a class="button is-link" ui-sref="user">Back to User</a>
            <a class="button is-info" ui-sref="services">Go to Analyse Services</a>
        </div>
      <div class="field">
        <div class="file is-primary has-name is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="resume" />
            <span class="file-cta">
              <span class="file-icon"> <i class="fas fa-upload"></i> </span>

              <span class="file-label"> Choose a file… </span>
            </span>

            <span class="file-name"> </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
